{%load static%}
<DOCTYPE html>
<html lang="en">
<head>
    <meta charset='UTF-8'>
    <title>projetdjango</title>
    <link rel="stylesheet" href="{%static 'style.css'%}" type ="text/css">
</head>
    <body>
    <header>
    <nav class="her">
        <a href="#"class="Home">TP DJANGO</a>
        <ul class='liste'>
            <li><a class="name" href="#">Home</a></li>
            <li><a class="name" href="#">About</a></li>
            <li><a class="name" href="#">Contact</a></li>
        </ul>
        </nav>
        <h1>PROGRMMATION PYTHON</h1>
        <h2>Django</h2>
        </header>   
     </body>
</html>